<pago-lotes-header></pago-lotes-header>

<div class="card justify-content-center mt-4">
  <p-accordion [activeIndex]="activeIndex">
    <!-- Paso 1: -->
    <p-accordionTab header="Paso 1: Buscar Proveedor o Cliente">
      <pago-lotes-buscar-cliente-proveedor (isValidSearch)="onValidSearchIngresos($event)"
        (queryParmasIngresos)="eventQueryParamsIngresos($event)"></pago-lotes-buscar-cliente-proveedor>

      <pago-lotes-tabla *ngIf="isValidFilterIngresos" [queryParamsIngresos]="queryParamsIngresos!"
        (eventSelectIngreso)="eventIsValidSelectedIngreso($event)"></pago-lotes-tabla>
    </p-accordionTab>

    <!-- Paso 2: -->
    <p-accordionTab header="Paso 2: Documentos Cobranza" [disabled]="isValidSelectedIngreso">
      <pago-lotes-documentos-cobranza-page></pago-lotes-documentos-cobranza-page>
    </p-accordionTab>
  </p-accordion>
</div>